@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900');


/*********************************
1. Body and some general stuff
*********************************/
* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.85;
	font-weight: 400;
	color: #76777a;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

p:last-of-type {
	margin-bottom: 0;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
	position: relative;
	color: #FF6347;
}

p a:hover {
	color: #FFFFFF;
	background: #ffa07f;
}

p a:hover::after {
	opacity: 0.2;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	color: #384158;
	margin-bottom: 0;
}

.form-control {
	color: #db5246;
}

section {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.fill_height {
	height: 100%;
}

.super_container {
	width: 100%;
	overflow: hidden;
}

.prlx_parent {
	overflow: hidden;
}

.prlx {
	height: 130% !important;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.nopadding {
	padding: 0px !important;
}




/*********************************
2. Header
*********************************/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header.scrolled {
	top: -40px;
}




/*********************************
3.1 Top Bar
*********************************/

.top_bar {
	width: 100%;
	background: #14bdee;
}

.top_bar_container {
	width: 100%;
	height: 100%;
}

.top_bar_content {
	width: 100%;
	height: 40px;
}

.top_bar_contact_list li {
	display: inline-block;
}

.question {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 0px;
}

.top_bar_contact_list li i,
.top_bar_contact_list li>div {
	display: inline-block;
	font-size: 14px;
	color: #FFFFFF;
}

.top_bar_contact_list li>div {
	margin-left: 1px;
}

.top_bar_contact_list li:not(:last-child) {
	margin-right: 21px;
}

.top_bar_login {
	height: 100%;
}

.login_button {
	width: 160px;
	height: 100%;
	background: #f3f3f3;
	text-align: center;
}

.login_button a {
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	color: #384158;
}



/*********************************
3.2 Header Content
*********************************/

.header_container {
	width: 100%;
	background: #ffffff;
}

.header_content {
	height: 90px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header.scrolled .header_content {
	height: 80px;
}



.header_search_container {
	position: relative;
	width: 100%;
	background: #14bdee;
	opacity: 0;
	transition: all 400ms ease;
}



.header_search_container.active {
	opacity: 1;
}

/*********************************
3.3 Logo
*********************************/

.logo,
.logo_text {
	display: inline-block;
}

.logo {
	width: 60px;
	height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.logo img {
	max-width: 100%;
}

.logo_text {
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	color: #384158;
	vertical-align: middle;
	margin-left: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.logo_text span {
	color: #14bdee;
}

.header.scrolled .logo {
	width: 40px;
	height: 40px;
}

.header.scrolled .logo_text {
	font-size: 24px;
}

/*********************************
3.4 Main Nav
*********************************/


.main_nav,
.search_button,
.shopping_cart {
	display: inline-block;
}

.main_nav li {
	display: inline-block;
	position: relative;
}

.main_nav li:not(:last-child) {
	margin-right: 44px;
}

.main_nav li a {
	font-size: 18px;
	font-weight: 500;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main_nav li a:hover,
.main_nav li.active a {
	color: #14bdee;
}

.main_nav li.active::after {
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #14bdee;
	content: '';
}

.search_button {
	margin-left: 46px;
	cursor: pointer;
}

.shopping_cart {
	margin-left: 23px;
	cursor: pointer;
}

.search_button i,
.shopping_cart i {
	font-size: 18px;
	color: #181818;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.search_button:hover i,
.shopping_cart:hover i {
	color: #14bdee;
}

.header_search_form {
	display: block;
	position: relative;
	width: 40%;
}

.header_search_container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #14bdee;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.header_search_container.active {
	bottom: -73px;
	opacity: 1;
}

.header_search_content {
	width: 100%;
	height: 73px;
}

.search_input {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 20px;
}

.header_search_button {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
}

.navbar .form-control {
	border-radius: 20px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	transition: border-color 0.3s ease;
}

.navbar .form-control:focus {
	border-color: #14bdee;
	box-shadow: norgb(40, 63, 167)
}

.navbar .form-control {
	border-radius: 20px;
	padding: 6px 12px;
	border: 1px solid #ccc;
}

.navbar .search-btn {
	font-size: 1.2rem;
	padding: 6px 10px;
	transition: color 0.3s ease;
}

.navbar .search-btn:hover {
	color: #14bdee;
}

.search-btn {
	color: #6c757d;
	background: transparent;
	border: none;
	padding: 0.5rem;
}

.search-btn:hover {
	color: #0d6efd;
}

.shopping_cart {
	cursor: pointer;
	font-size: 1.1rem;
	padding: 0.5rem 0;
}

.shopping_cart:hover {
	color: #0d6efd;
}

.navbar {
	padding: 0;
}

.dropdown-menu {
	border: none;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Mobile specific styles */
@media (max-width: 991.98px) {
	#navbarContent {
		order: 1;
		padding-top: 1rem;
	}

	#mobileSearch {
		order: 2;
	}

	.navbar-collapse {
		flex-basis: 100%;
		flex-grow: 1;
	}

	.navbar-nav {
		padding: 1rem 0;
	}

	.nav-item {
		padding: 0.5rem 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}

	.dropdown-menu {
		background-color: #f8f9fa;
		border-radius: 0;
		border: none;
		box-shadow: none;
	}

	.dropdown-item {
		padding: 0.75rem 1.5rem;
	}
}


/*********************************
5. Section
*********************************/

.section_title_container {
	max-width: 600px;
	margin: 0 auto;
}

.section_title {
	line-height: 0.75;
}

.section_subtitle {
	line-height: 1.85;
	margin-top: 22px;
}

.section_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/*********************************
6. Home
*********************************/

#home {
	width: 100%;
	height: 182px;
	background: #f2f4f5;
	border-bottom: solid 1px #edeff0;
}
.load {
    text-align: center;
    margin-top: 3rem;
}

.load .btn {
    display: inline-block;
    padding: 12px 32px;
    background: linear-gradient(135deg, #0d6efd, #0d6efd); /* Gradient color */
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.4s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.load .btn:hover {
    transform: scale(1.05);
	color: black;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

#home .breadcrumbs_container {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

#home .breadcrumbs ul li {
	display: inline-block;
	position: relative;
}

#home .breadcrumbs ul li:not(:last-child)::after {
	display: inline-block;
	font-family: 'FontAwesome';
	content: '\f105';
	margin-left: 7px;
	margin-right: 4px;
	color: #384158;
}

#home .breadcrumbs ul li a {
	font-size: 14px;
	font-weight: 400;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

#home .breadcrumbs ul li a:hover {
	color: #14bdee;
}

#home .load .btn {
	display: inline-block;
	padding: 14px 40px;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #ffffff;
	background: linear-gradient(135deg, #1e90ff, #007bff);
	/* gradient blue */
	border: none;
	border-radius: 8px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	box-shadow: 0 10px 20px rgba(30, 144, 255, 0.3);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	position: relative;
	overflow: hidden;

}

/* Hover effect with subtle scale and glow */
#home .load .btn:hover {
	background: linear-gradient(135deg, #007bff, #1e90ff);
	transform: translateY(-3px) scale(1.03);
	box-shadow: 0 12px 24px rgba(0, 123, 255, 0.4);
	color: black;
}

/* Optional: Ripple or overlay effect (for visual polish) */
#home .load .btn::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300%;
	height: 300%;
	background: rgba(255, 255, 255, 0.05);
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
	transition: transform 0.5s ease;
}

#home .load .btn:active::after {
	transform: translate(-50%, -50%) scale(1);
}

/* Optional: focus effect for accessibility */
#home .load .btn:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


html,
body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

.main-content {
	flex: 1;
}

/* Add this to ensure consistent image sizes in VR Gallery */
.vr-gallery .card-img,
.vr-gallery img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* For the VR Gallery cards */
.vr-gallery .card {
	height: 100%;
}

/* For the Recent Blogs slider */
.card__background img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#read-more {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	background-color: #007bff;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

#read-more:hover {
	background-color: #0056b3;
	transform: scale(1.05);
}